body {
  background: transparent;
  color: white;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

h1 {
  font-size: 4rem;
}